# Ignore system files
.DS_Store

# Ignore temporary or build files
__pycache__/
*.log
*.swp
.env

# Ignore Git metadata
.git/


# Ignore virtual environment
rails-coding-assistant-env/
*.dylib

# Ignore other system and temporary files
*.log
